# BETTER AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# PRISMA
DATABASE_URL="postgresql://postgres:password@localhost:5432/kbu-hackathon?schema=public"
POSTGRES_PASSWORD=password

# ADMIN
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword